html
  head
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title
      | Connor Cunningham 40340741
    link(rel='stylesheet', type='text/css', href='/public/CSS/style.css')
    script(type='text/javascript', src='public/javascripts/Base64.js')
    
  body
    #wrapper
      #header
        #logo
          h1
            | Web Development
        #menu
          ul
            li
              a(href='/index') Home
            li
              a(href='/mail') Mail
            li
              a(href='/CAESARCIPHER') Caesar Cipher
            li
              a(href='/MORSECODE') Morse Code
            li
              a(href='/ROT13') ROT13
            li.active
              a(href='/Base64') BASE64
            li
              a(href='/VIGENERECIPHER') vigenere cipher
            li
              a(href='/users/logout') Logout
      #boarder5
        #content
          .box
            h2
              | About BASE64
            p
              | Base64 is just like binary to text, it is used for encoding and decoding text into binary data using the ASCII table, it is mostly used for transfering messages.
            iframe(width='560', height='315', src='https://www.youtube.com/embed/8qkxeZmKmOY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            p
            div
              textarea#txt1(rows='2', cols='50', autofocus='')  Message in here 
            div
              input#btnencode.button(type='button', value='Encode', onclick='encode()')
              input.button(onclick="this.form.output.value='';", value='clear', type='button')
            div
              textarea#txt2(rows='2', cols='50', autofocus='')  
            br
            div
              textarea#txt3(rows='2', cols='50', autofocus='')  Decoded message 
            div
              input#btndecode.button(type='button', value='Decode', onclick='decode()')
              input.button(onclick="this.form.output.value='';", value='clear', type='button')
            div
              textarea#txt4(rows='2', cols='50', autofocus='')  
              
    #footer
      | © cunningham_connor_webtech_coursework1 | Design by 
      a(href='40340741@live.napier.ac.uk', rel='me') Connor Cunningham