html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title
      | Connor Cunningham
    link(rel='stylesheet', type='text/css', href='/public/CSS/style.css')
  body
    #wrapper
      #header
        #logo
          h1
            | Web Development
        #menu
          ul
            li.active
              a(href='/index') Home
            li
              a(href='/mail') Mail
            li
              a(href='/CAESARCIPHER') Caesar Cipher
            li
              a(href='/MORSECODE') Morse Code
            li
              a(href='/ROT13') ROT13
            li
              a(href='/Base64') BASE64
            li
              a(href='/VIGENERECIPHER') vigenere cipher
            li
              a(href='/users/logout') Logout
      #boarder1
        #content
          .box
            h2
              | Welcome to my site for Web Dev
            p
              | This website is made for WEB DEV ASSESMENT ONE, this is the main page to tell you about the project and what Ciphers i am using. 
              | Need anymore info or help just E-Mail Me 
              a(href='mailto:40340741@live.napier.ac.uk') HERE
              | .
            h3
              | Info
            p
              | The aim of this coursework is to design and implement a website that enables your user to encode simple text messages using at least two different classical cyphers or encoding schemes. On your page (
              strong index.html
              | ) you must provide at least:
            p 1.an area in which your user can type in a message, 
            p 2.an area where the encoded message can be displayed, 
            p 3.a way to select between different cyphers (for example a dropdown),
            p 4.some method to cause the cypher to be computed (such as a button) and,
            p 5.some mechanism for deciphering your messages to recover the plaintext.
        #page-bottom-sidebar
          h3
            | INFO from author
          ul.list
            li
              a(href='http://www.linkedin.com/in/connor-alan-cunningham') Name - Connor Cunningham
            li
              a(href='https://moodle.napier.ac.uk/course/view.php?id=28452') Class - Web Dev Assesment 1
            li
              a(href='mailto:40340741@live.napier.ac.uk') Email - 40340741
    #footer
      | © cunningham_connor_webtech_coursework1 | Design by 
      a(href='40340741@live.napier.ac.uk', rel='me') Connor Cunningham
